body {
    background-color: rgb(30,30,30);
}

:root {
    --boxes: 100px;
    --borders: 2px;
    --tierwidth: 1000px;
}

#main-content {
    width: 80%;
}

#tier-list {
    border: var(--borders) solid gray;
    max-width: var(--tierwidth);
    /*min-width: 400px;
    /*height: 600px;*/
    height: -moz-fit-content;
    height: fit-content;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
}

#side-bar1{
    border: var(--borders) solid gray;
    position: fixed;
    width: 19%;
    bottom: 0;
    right: 0;
    top: 0;
    padding: 4px;
    color: rgb(220,220,220);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    overflow-y: scroll;
}


#mobile-disclaimer {
    display: none;
}



@media only screen and (max-width: 1000px){
    #side-bar1 {
        display: none;
    }

    #mobile-disclaimer {
        display: block;
    }

    #pc-disclaimer {
        display: none;
    }
}

#export-image {
    margin: auto;
    position: fixed;
    display: none;
}

#controls{
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 10px;
    line-height: 25px;
}

#img-file, #controls, #additional_dialog, button, input, select, option {
    border-radius: 0;
    font-family: monospace;
}

label[for=allow_editing] {
    color: white;
}

#dev_tools{
    position: inherit;
    bottom: 5px;
    background-color: rgb(30,30,30);
}

#newtier {
    width: 120px;
    top: 0;
}

#newcolor {
    width: 40px;
    height: 20px;
    border: none;
    border-radius: 3px;
}


#tier-list{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: white;
}

.tier {
    min-height: calc(var(--boxes) - var(--borders));
    width: 100%;
    display: flex;
    background: rgb(30,30,30);
}

.tier-column {
    min-height: inherit;
    line-height: 0;
    width: 100%;
    /*margin-top: calc(0px - var(--boxes));
    border-top: var(--borders) solid gray;
    padding-left: calc(var(--boxes) + var(--borders));*/
    border-top: var(--borders) solid gray;
    border-right: var(--borders) solid gray;
}

.tier-title {
    min-height: inherit;
    max-width: var(--boxes);
    min-width: var(--boxes);
    border-right: var(--borders) solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#list-header {
    display: flex;
    line-height: calc(var(--boxes) / 2);
    height: calc(var(--boxes) / 2);
    background: rgb(30,30,30);
}

.tier-column-title {
    flex: 1;
    text-align: center;
    border: 1px solid gray;
}

.tier-title-text {
    /*border: var(--borders) solid red;*/
    margin: auto !important;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#list-corner {
    display: block;
    justify-self: left;
    text-align: center;
    width: var(--boxes);
    border-right: 1px solid gray;
    color: gray;
    float: left;
    font-size: xx-small;
}

#image_wrapper{
    min-width: calc(var(--boxes)*2);
    max-width: var(--tierwidth);
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}

#images{
    min-height: var(--boxes);
    line-height: 0;
    min-width: calc(var(--boxes)*2);
    max-width: var(--tierwidth);
    border: var(--borders) solid gray;
    margin: auto;
    padding: 2px;
}

.img_square {
    height: var(--boxes);
    width: var(--boxes);
}

.img_circle {
    height: var(--boxes);
    width: var(--boxes);
    border-radius: 100%;
}

.img_freeform {
    height: var(--boxes);
    width: auto;
}


#adding_wrapper, #output_image_wrapper {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

#additional_dialog, #output_image_window {
    font-family: monospace;
    border: 5px solid white;
    border-radius: 2px;
    background-color: rgb(200,200,200);
    padding: 20px;
    width: 450px;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}


.close_additional {
    float: right;
    margin-top: -1rem;
}

#add_image_button {
    float: left;
    margin-top: -1rem;
}

#img-link {
    width: 99%;
    resize: vertical;
}

#cashapplink {
    font-family: monospace;
    padding: 3px;
    background-color: lime;
    border-color: darkgreen;
    border-radius: 0;
}

#cashapplink:hover {
    background-color: limegreen;
    border-color: darkgreen;
}